body.menu-open {
    .menu-content.menu-animated {
        @include translate3d-forced(0, 0, 0);
    }
}

body {
    .menu-content {
        .view-container.menu-animated {
            top: 50px;
            @include translate3d(0, 0, 0);
        }
    }
}

.menu-content {
    .scroll-content {
        background-color: $grey;
    }
}

.scroll-content {
    &.overflow-scroll {
        overflow-y: auto;
    }

    &.has-header {
        top: $distance-5x-l;
    }

    &.content-container {
        padding: $distance-m $distance-s;
    }

    .list {
        margin-top: $distance-2x-s;
    }
}

.relative-parent {
    position: relative;
}

.vertical-centered {
    position: absolute;
    top: 50%;
    @include vertical-translate(-50%);
}

.aboslute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);

    &.special {
        @include translate(-50%, -60%);
    }
}

img {
    &.flipped-image {
        @include horizontal-scale(-1);
    }

    &.centered-image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
    }

    &.rotated {
        @include rotate(90deg);
    }
}

.image-container {
    padding: $no-distance $distance-s;

    &.top-margin {
        margin-top: $distance-x-l;
    }

    &.relative-parent {
        margin: $no-distance $distance-s;
        padding: $no-distance;
    }
}

.button-container {
    margin-bottom: $distance-x-s;

    button {
        border: none;
        border-radius: $distance-2x-s;
        padding: $distance-x-s;
        width: 100%;
        background-color: $secondary-color;
        @include linear-gradient(top, to bottom, $secondary-color, 0%, $secondary-color-alternate, 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, $secondary-color), color-stop(100%, $secondary-color-alternate));
        color: $light;
        font-family: $opb;
        font-size: $font-size-l;
        box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.25);
    }

    a {
        text-decoration: none;
    }
}

form {
    padding: $distance-s;

    label {
        .input-label,
        input,
        select {
            font-family: $opr;
        }

        &.item-info {
            padding: $distance-x-s;
            margin-bottom: $distance-s;
            box-shadow: 1px 1px 5px 0px grey;
            border-radius: 4px;

            .input-label {
                padding: $no-distance;
                padding-left: $distance-x-s;
                font-size: $font-size-m;
                font-family: $opb;
            }

            input {
                background-color: transparent;
                height: auto;
                text-align: center;
                font-size: $font-size-m;
            }
        }

        &.item-floating-label {
            border: none;
            margin: 0;
            padding: 0;
            margin-bottom: $distance-s;
            display: block;

            input {
                border-bottom: 2px solid $secondary-color;
                padding: $distance-2x-s $distance-x-s;
                line-height: $distance-3x-l;
                height:$distance-3x-l;
                font-size: $font-size-l;
                display: block;

                + div {
                    width: 0;
                    height: 0;
                    background-color: $secondary-color;
                    @include custom-transition(width, .4s);
                    @include custom-transition(height, .4s);
                }

                &:focus {
                    border-bottom: none;

                    + div {
                        width: 100%;
                        height: 2px;
                    }
                }
            }
        }
    }

    .button-container {
        padding: $distance-s $no-distance;
    }
}

.item-info {
    .ac-header {
        @extend .relative-parent;

        i {
            @extend .vertical-centered;
            right: 20px;
            @include rotate(0deg);
        }
    }

    .ac-body {
        width: 100%;
        height: 0;
        @include custom-transition(height, 400ms);
    }

    &.open {
        .ac-header {
            i {
                @include rotate(-180deg);
            }
        }

        .ac-body {
            height: auto;
        }
    }
}
