/* Colors Variables */
$header-color: #592b74;
$second-header-color: #5C3280;
$third-header-color: #7f5a94;
$header-boton-color: #f4e594;
$font-color: #fff;
$second-font-color: #000;
$border-color: #000;

/* Fonts Variables */
/* Font Size */
$font-size-3x-s: 6px;
$font-size-2x-s: 8px;
$font-size-x-s: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-x-l: 18px;
$font-size-2x-l: 20px;
$font-size-3x-l: 22px;
$font-size-4x-l: 24px;
$font-size-5x-l: 26px;
$font-size-6x-l: 28px;
$font-size-7x-l: 30px;
$font-size-8x-l: 32px;
$font-size-9x-l: 34px;
$font-size-10x-l: 36px;
$font-size-11x-l: 38px;
$font-size-12x-l: 40px;
$font-size-13x-l: 42px;
$font-size-14x-l: 44px;
$font-size-15x-l: 46px;
$font-size-16x-l: 48px;
$font-size-17x-l: 50px;

/* Font Family */
$main-font-family: "verdana";

/* Distance Variables */
$no-distance: 0;
$distance-2x-s: 5px;
$distance-x-s: 10px;
$distance-s: 15px;
$distance-m: 20px;
$distance-l: 25px;
$distance-x-l: 30px;
$distance-2x-l: 35px;
$distance-3x-l: 40px;
$distance-4x-l: 45px;
$distance-5x-l: 50px;
