body {
    .modal-backdrop {
        background-color: transparent;
    }

    .toggle{
    	input {
    		&:checked {
    			+  .track {
    				border-color: $secondary-color-alternate;
    				background-color: $secondary-color-alternate;
    			}
    		}
    	}
    }

    .filters-group {
        margin-bottom: $distance-x-s;

        .filters-header {
            font-size: $font-size-x-l;
            font-family: $opb;
            height: $distance-3x-l;
            line-height: $distance-3x-l;
            padding-left: $distance-x-s;
        }

        .item.item-toggle {
            border: none;
            padding-left: $distance-m;
            padding-top: $distance-s;
            padding-bottom: $distance-s;
            font-family: $opr;
            font-size: $font-size-x-l;
            margin: $no-distance;
        }
    }
}