.nav-bar-container,
.modal {
    .bar {
        &.bar-header {
            height: 50px;
            background-image: none;
            @include linear-gradient(top, to bottom, $main-color, 0%, $main-color-alternate, 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, $main-color), color-stop(100%, $main-color-alternate));
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.37);

            .button {
                color: $secondary-color-alternate;
                @include custom-transition(transform, 400ms, ease);
                @include rotate(-180deg);
                
                &.open {
                    @include rotate(0deg);
                }

                &:before {
                    font-size: $font-size-7x-l;
                }
            }

            .title {
                width: 100%;
                left: 0 !important;
                right: 0 !important;
                margin: 0;
                text-align: center;
                height: $distance-5x-l;
                line-height: $distance-5x-l;
                color: $light;
                font-size: $font-size-4x-l;
                font-family: $opr;
            }
        }
    }
}
