.nav-bar-container {
    .bar {
        &.bar-header {
            height: 50px;
            background-image: none;
            @include linear-gradient(top, to bottom, $header-color, 0%, $second-header-color, 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, $header-color), color-stop(100%, $second-header-color));
            border-bottom: 1px solid $border-color;

            .button {
                color: $header-button-color;

                &:before {
                    font-size: $font-size-12x-l;
                }
            }

            .title {
                left: 0 !important;
                text-align: center;
                height: $distance-5x-l;
                line-height: $distance-5x-l;
                color: $font-color;
                font-size: $font-size-6x-l;
            }
        }
    }
}
