.menu {
    top: 50px;
    @include custom-transition(transform, 400ms, ease);
    @include translate3d(-320px, 0, 0);
    z-index: 100 !important;
    min-height: 1px;
    background: $menu-color;
    @include linear-gradient(top, to bottom, $main-color-alternate, 0%, $main-color, 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $main-color-alternate), color-stop(100%, $main-color));

    .scroll-content {
        .item {
            background-color: transparent;
            border: none;
            color: $secondary-color-alternate;
            padding: 0;
            font-size: $font-size-x-l;
            margin: $no-distance;

            span {
                padding: $distance-m;
                padding-left: $distance-5x-l;
                display: block;
                font-family: $opb;
            }

            .fa {
                @extend .vertical-centered;
                left: $distance-m;
                font-size: $font-size-2x-l;
            }

            &.chosen {
                background-color: $secondary-color;
                @include linear-gradient(top, to bottom, $secondary-color, 0%, $secondary-color-alternate, 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, $secondary-color), color-stop(100%, $secondary-color-alternate));
                border-left: $distance-x-s solid $main-color-alternate-2;
                color: $main-color;

                span {
                    padding-left: $distance-6x-l;
                }
            }

            a {
                border: none;
                background-color: transparent;
                padding: $no-distance;
            }
        }
    }
}
