.search-container {
    .search-input {
        i {
            font-size: $font-size-2x-l;
            color: $secondary-color-alternate;
            margin-right: $distance-x-s;
        }

        input {
            font-size: $font-size-x-l;
            padding: $no-distance;
            height: $distance-4x-l;
            font-family: $opr;
        }
    }
}

.spinner-container {
    width: 100%;
    height: 100%;
    text-align: center;

    .spinner {
        stroke: $main-color;
        fill: $main-color;
        color: $main-color;

        svg {
            width: $distance-3x-l;
            height: $distance-3x-l;
            margin-top: $distance-5x-l;
        }
    }
}

.list {
    .subject-item {
        font-size: $font-size-x-l;
        color: $dark;
        border: none;
        margin: $no-distance;

        &.no-results,
        a {
            background-color: $grey;
            font-family: $opr;
            white-space: normal;
            padding-top: $distance-m;
            padding-bottom: $distance-m;

            i {
                &.fa-chevron-right{
                    @extend .vertical-centered;
                    right: $distance-x-l;
                    color: $secondary-color-alternate;
                }
            }
        }
    }
}
