<ion-view view-title="Calendario">
    <ion-content class="calendar-ion-content">
        <div class="relative-parent">
            <div class="calendar-container"
                ui-calendar="uiConfig.calendar"
                ng-model="eventSources"
                on-swipe-right="goToPrevMonth()"
                on-swipe-left="goToNextMonth()"
                calendar="calendar"
                id="calendar"
            ></div>
        </div>
    </ion-content>
    <div class="floating-button-container">
        <button class="floating-button" ui-sref="app.event">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</ion-view>
