<ion-view view-title="Evento" cache-view="false">
    <ion-content class="content-container">
        <form>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Título *</span>
                    <input type="text" ng-model="event.title" placeholder="Título *">
                    <div></div>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Descripción</span>
                    <input type="text" ng-model="event.description" placeholder="Descripción">
                    <div></div>
                </label>
                <label class="item item-input item-select item-info first-in-event">
                    <div class="input-label">
                        Materia
                    </div>
                    <select
                        ng-model="event.subject_id"
                        ng-options="subject.id as subject.name for subject in mySubjects">
                    </select>
                </label>

                <div class="item item-toggle in-event">
                    Todo el día
                    <label class="toggle">
                        <input type="checkbox" ng-model="options.allDay">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <label class="item item-input item-info">
                    <span class="input-label">Desde</span>
                    <input type="datetime-local" ng-show="options.allDay == false" ng-model="event.date_start" ng-value="event.date_start | date: 'dd/MM/yyyy hh:mm'">
                    <input type="date" ng-show="options.allDay == true" ng-model="event.date_start" ng-value="event.date_start | date: 'dd/MM/yyyy'">
                </label>
                <label class="item item-input item-info">
                    <span class="input-label">Hasta</span>
                    <input type="datetime-local" ng-show="options.allDay == false" ng-model="event.date_end" ng-value="event.date_end | date: 'dd/MM/yyyy hh:mm'">
                    <input type="date" ng-show="options.allDay == true" ng-model="event.date_end" ng-value="event.date_end | date: 'dd/MM/yyyy'">
                </label>

                <div class="item item-toggle in-event">
                    Notificar
                    <label class="toggle">
                        <input type="checkbox" ng-model="options.withNotif">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <label class="item item-input item-info notif" ng-show="options.withNotif">
                    <input type="number" ng-model="notification.number" min="1" ng-keypress="showNumber($event)" ng-keydown="showNumber($event)">
                    <!-- <select ng-model="notification.type" ng-focus="changeNotifSelectOptions(true)" ng-blur="changeNotifSelectOptions(false)">
                        <option value="m">Minuto</option>
                        <option value="h" selected>Hora antes</option>
                        <option value="d">Día</option>
                    </select> -->
                    <ion-radio ng-model="notification.type" ng-value="'m'">Minuto</ion-radio>
                    <ion-radio ng-model="notification.type" ng-value="'h'">Hora antes</ion-radio>
                    <ion-radio ng-model="notification.type" ng-value="'d'">Día</ion-radio>
                </label>
                <label class="item item-input item-select item-info">
                    <div class="input-label">
                        Color
                    </div>
                    <select
                        ng-init="event.color = colors[0].id"
                        ng-model="event.color"
                        ng-options="color.id as color.name for color in colors">
                    </select>
                </label>
                <div class="button-container">
                    <button ng-click="addEvent()">Guardar</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
