<ion-view view-title="Ayuda">
    <ion-content class="content-container">
        <h3 class="help-header">Calendario</h3>
        <p class="info-paragrapgh">
            Al iniciarse la aplicación se mostrará el mes actual con todos los eventos que hayas creado. Si necesitas modificar un evento solo será necesario oprimir sobre el mismo cambiarlo o eliminarlo.
        </p>
        <h3 class="help-header">Evento</h3>
        <p class="info-paragrapgh">
            Para crear un nuevo evento o recordatorio solo es necesario oprimir el botón (+) o tocar 2 veces sobre el día deseado. Luego podrás completar el nombre del evento, descripción, materia, duración y color. También podrás activar una notificación para recordarte sobre evento en el momento que desees.
        </p>
        <h3 class="help-header">Materias</h3>
        <p class="info-paragrapgh">
            Para acceder a Materias ve a Menú > Materias. Podrás buscar las materias que desees escribiendo el nombre completo o parte del mismo. Para realizar una búsqueda más rápida selecciona el icono Filtros sobre el panel superior. Allí se muestran los filtros posibles de las materias. Ahora solo te queda buscar tu materia según Formación, Duración, Área de estudio, Condición de la materia.
            Una vez encontrada la materia podrás ver los datos de la misma y agregarla a tu carrera.
        </p>
        <h3 class="help-header">Mi Carrera</h3>
        <p class="info-paragrapgh">
            Para acceder a Correlativas ve a Menú > Correlativas. En esta pantalla podrás consultar las correlativas de las materias del plan académico. Selecciona una materia y navega sobre sus correlativas anteriores y posteriores.
        </p>
        <h3 class="help-header">Correlativas</h3>
        <p class="info-paragrapgh">
            Para acceder a Mi Carrera ve a Menú > Mi Carrera. Aquí podrás ver todas las materias que hayas agregado en el menú Materias. Podrás ver todas tus materias que estas cursando, aprobadas, pendientes de final y demás.
            En este menú también podrás agregar tus Notas de exámenes y trabajos. Seleccionar el tipo de examen y tu nota. Las mismas se agregarán a la materia y podrán ser consultadas luego.
        </p>
        <h3 class="help-header">Links</h3>
        <p class="info-paragrapgh">
            Para acceder a Links ve a Menú > Links. En esta pantalla podrás ver los sitios de la facultad e ingresar a ellos presionando sobre los botones.
        </p>
    </ion-content>
</ion-view>
