<ion-view view-title="Acerca de la APP">
    <ion-content class="content-container">
        <p class="info-paragrapgh"><strong>UBA PsiPlanner</strong> es una aplicación para dispositivos móviles perteneciente al <strong>CEP</strong>.</p>
        <p class="info-paragrapgh"><strong>UBA PsiPlanner</strong> V 1.0, desarrollada por <stron>Sirius Labs</strong>.</p>
        <p class="info-paragrapgh">Copyright © 2017 <strong>Sirius Labs</strong>. Todos los derechos reservados.</p>
        <p class="info-paragrapgh">Licencias</p>
        <p class="info-paragrapgh">El robot de <strong>Android</strong> se reproduce o se modifica a partir del trabajo generado y compartido por Google, y se usa conforme a lo descrito en la licencia Creative Commons Reconocimiento 3.0.</p>
        <p class="info-paragrapgh">The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the Creative Commons 3.0 Attribution License.</p>
        <p class="info-paragrapgh">Contacto <a href="">siriuslabsarg@gmail.com</a></p>
    </ion-content>
</ion-view>
