<ion-view view-title="Mi Carrera" cache-view="false">
    <ion-content>
        <div class="search-container" ng-show="mySubjects.length > 10">
            <label class="item item-input search-input">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" placeholder="Buscar materias por nombre" ng-model="search.value" ng-change="searchSubjects()">
            </label>
        </div>
        <div class="spinner-container" ng-show="search.showSpinner">
            <ion-spinner icon="spiral"></ion-spinner>
        </div>
        <ion-list>
            <ion-item class="subject-item no-results" ng-show="mySubjects.length == 0">
                <span ng-show="search.value == null">No se agregó ninguna materia a Mi Carrera.</span>
                <span ng-show="search.value != null">No se se encontraron materias con ese nombre.</span>
            </ion-item>
            <ion-item class="subject-item" ng-repeat="mySubject in mySubjects" href="app.mySubject({subjectId: mySubject.id})">
                {{mySubject.name}}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
