<ion-view view-title="Materias" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-click="openSubjectsFilterModal()">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="search-container">
            <label class="item item-input search-input">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" placeholder="Buscar materias por nombre" ng-model="search.value" ng-change="searchSubjects(false)">
            </label>
        </div>
        <div class="spinner-container" ng-show="search.showSpinner">
            <ion-spinner icon="spiral"></ion-spinner>
        </div>
        <ion-list ng-show="search.showList">
            <ion-item class="subject-item no-results" ng-show="subjects.length == 0">
                <span ng-show="search.value != null">No se se encontraron materias con ese nombre.</span>
            </ion-item>
            <ion-item class="subject-item" ng-repeat="subject in subjects" ui-sref="app.subject({subjectId: subject.id})">
                {{subject.name}}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
