<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Filtros de Búsqueda</h1>
        <div side="left" class="buttons">
            <button class="button button-clear" ng-click="closeSubjectsFilterModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <div side="right" class="buttons">
            <button class="button button-clear" ng-click="changeFilters()">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-toggle">
                Formación profecional
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Formación profecional
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Anual
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item item-toggle">
                Cuatrimestral
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-modal-view>
