<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Filtros de Búsqueda</h1>
        <div side="left" class="buttons">
            <button class="button button-clear" ng-click="closeSubjectsFilterModal()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <div side="right" class="buttons">
            <button class="button button-clear" ng-click="changeFilters()">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="button-container">
            <button class="button button-block" ng-click="clearButton()"><i class="fa fa-eraser" aria-hidden="true"></i>Borrar</button>
        </div>
    </ion-content>
</ion-modal-view>
