<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear" ng-click="$ionicGoBack()"></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleMenu()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" width="320">
        <ion-content>
            <ion-list>
                <ion-item menu-close ui-sref="app.calendar">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Calendario</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.subjects">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span>Materias</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.mySubjects">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <span>Mi Carrera</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
